# 强制提升到全局，保证唯一实例, 且无需在子包中安装
public-hoist-pattern[]=antd*
public-hoist-pattern[]=react
public-hoist-pattern[]=jest-diff
public-hoist-pattern[]=@testing-library/*
public-hoist-pattern[]=@react-native-community/async-storage
public-hoist-pattern[]=react-native-web
public-hoist-pattern[]=@umijs/*
public-hoist-pattern[]=umi-request
public-hoist-pattern[]=intersection-observer
public-hoist-pattern[]=lodash*

# 默认值
public-hoist-pattern[]=*types*
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=@prettier/plugin-*
public-hoist-pattern[]=*prettier-plugin-*